<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<body>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Mi red Social</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
    <br>
    <div class="row">
      <div class="col-md-4"  *ngFor="let item of post; index as i">
        <div class="card user-card">
          <div class="card-header">
            <h5>{{item.title}}</h5>
          </div>
          <div class="card-block">
            <div class="user-image">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius" alt="User-Profile-Image">
            </div>
            <h6 class="f-w-600 m-t-25 m-b-10">Alessa Robert</h6>
            <p class="text-muted">Active | Male | Born 23.05.1992</p>
            <hr>
            <p class="text-muted m-t-15">Activity Level: 87%</p>
            <ul class="list-unstyled activity-leval">
              <li class="active"></li>
              <li class="active"></li>
              <li class="active"></li>
              <li></li>
              <li></li>
            </ul>
            <div class="bg-c-blue counter-block m-t-10 p-20">
              <div class="row">
                <div class="col-4">
                  <i class="fa fa-comment"></i>
                  <p>1256</p>
                </div>
                <div class="col-4">
                  <i class="fa fa-user"></i>
                  <p>8562</p>
                </div>
                <div class="col-4">
                  <i class="fa fa-suitcase"></i>
                  <p>189</p>
                </div>
              </div>
            </div>
            <p class="m-t-15 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <hr>
            <div class="row justify-content-center user-social-link">
              <div class="col-auto"><a href="#!"><i class="fa fa-facebook text-facebook"></i></a></div>
              <div class="col-auto"><a href="#!"><i class="fa fa-twitter text-twitter"></i></a></div>
              <div class="col-auto"><a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <script src="https://kit.fontawesome.com/b4932a4df0.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="node_modules/chart.js/dist/Chart.bundle.min.js"></script>
</body>

</html>